@import "fuentes.css";
@import "hover.css";

/* ==============================================================
/*	MENU
/* ============================================================== */
	#rieggo-navegacion {
		background: rgb(255, 255, 255);
		transition: all ease .3s;
		padding: 0 2rem;
		padding-top: .5rem !important;
		padding-bottom: .5rem !important;
		box-shadow: 0px 0px 12px 0px rgb(0 0 0 / 50%);
	}

	#navegacion-logo-rieggo {
		width: 120px;
	}

	#navegacion-logo-rotoplas {
		width: 100px;
	}

	.nav-link {
		color: #002554 !important;
	}

	#toggleMobileMenu {
		transition: all ease .5s;
	}
	
	
	.navbar-light .navbar-toggler {
		color: #00c7b1;
		border-color: #00c7b0cd;
	}
	button:focus:not(:focus-visible) {
		outline: 0;
		color: rgb(0 199 177 / 50%);
	}

	.nav-item {
		border: 2px solid #00c7b1;
		border-radius: 1rem;
		font-size: 15px;
	}
/* menu */


h2 {
	font-family: rotoplas-regular;
	font-size: 2.5rem;
	color: #00c7b1 !important;
}
h5 {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-family: 'rotoplas-regular';
    color: #00c7b1;
}


.rieggo-btn {
	margin-top: .5rem;
	padding: 1rem;
	background: #00c7b1;
	border-radius: 2rem;
	color: #fff;
	text-decoration: none;
	line-height: 1;
	display: inline-block;
	font-family: 'rotoplas-regular';
}
.rieggo-btn:hover {
	color: #fff;
}

#rieggo-header {
	height: 87vh;
	background: url(/resources/images/ROT1186Mej_Mx_rieggo_banner-header-B.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
#rieggo-header h1 {
	color: #fff;
	font-size: 3.2rem;
}


#rieggo-circulos {
	background: #00c7b1;
	color: #fff;
}
#rieggo-circulos a {
	width: 140px;
	color: #fff;
}
#rieggo-circulos a p {
	margin-bottom: 0;
	margin-top: .5rem;
}
#rieggo-circulos a img {
	width: 100px;
}

#contacto {
	padding: 68.38px 0;
}
#contacto h3 {
	font-size: 2.2rem;
	color: #00c7b1;
	font-family: rotoplas-regular;
}
#contacto h5 {
	font-size: 1.5rem;
	font-family: rotoplas-bold;
	color: #002554;
}
#contacto a h3 {
	font-size: 2.2rem;
	color: #002554;
	font-family: rotoplas-bold;
}
#contacto p {
	font-family: rotoplas-regular;
}
#contacto p a {
	color: #002554;
}
#contacto p a:hover {
	color: #009cde;
}
#form input,
#form select {
	width: 100%;
	border-style: none;
	padding: 9px 12px;
}
#form input {
	background: transparent;
    border-color: rgb(245, 245, 245);
}
#form input:focus-visible,
#form select:focus-visible {
	outline: none;
	color: rgba(0,0,0,.87);
}
#form select {
	background-color: rgb(245, 245, 245);
	height: 38px;
	border-radius: 10px;
}
#form button {
    background-color: #00c7b1;
    color: #fff;
    border-radius: 28px;
    width: auto;
    padding: 0 20px;
    border-style: none;
    height: 42px;
    line-height: 1;
}
#form textarea {
    background: transparent;
    border: none;
    width: 100%;
    padding: 9px 12px;
}
.error--text {
    color: #ff5722 !important;
    caret-color: #ff5722 !important;
}


#whatsapp-btn {
	display: none;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);
}
#whatsapp-btn img {
	width: 100%;
}
#contactanos-btn {
    background: #002554;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;
    position: fixed;
    bottom: 2rem;
	right: 2rem;
	box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 50%);
}


/* ==============================================================
/*	FOOTER
/* ============================================================== */
	footer {
		background: #00c7b1;
		color: #fff;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	
	#footer-logo-rotoplas {
		width: 131px;
	}

	.footer-btn {
		text-decoration: none;
		padding: .25rem;
		margin: .25rem 0;
		color:#fff;
		transition: all ease .3s;
	}
	.footer-btn:hover {
		color:#002554;
		font-family: rotoplas-regular;
	}

	.footer-btn img {
		margin-right: .5rem;
		vertical-align: middle;
	}
	.footer-btn span {
		vertical-align: top;
		display: inline-block;
		width: 85%;
	}

	#footer-aviso {
		border-top: 1px solid #fff;
	}
	#footer-aviso a {
		color: #fff;
	}
	#footer-aviso a:hover {
		color: #002554;
		font-family: rotoplas-regular;
	}
/* footer */


/* ==============================================================
/*	VENDEDORES
/* ============================================================== */
#vendedor {
	background: url(/resources/images/tarjeta-digital/fondo.svg) no-repeat;
}

#vendedor h3 {
	color: #00c7b1;
}

#vendedor h5 {
	color: #002554;
}

#vendedor-imagen {
	width: 250px;
	border-radius: 50%;
	overflow: hidden;
}

.vendedor-botones {
	width: 30%;
	text-align: center;
	color: #002554;
}
.vendedor-botones img {
	margin-bottom: .5rem;
}

#form-pilotos-tecnologia label span {
	color: red;
}
/* vendedores */

@media only screen and (max-width: 1200px) {
	.nav-item {
		margin-bottom: 1rem;
	}
}

/* sm */
@media only screen and (max-width: 959px) and (min-width: 600px) {#whatsapp-btn {
		display: block;
	}
	#contactanos-btn {
		display: none;
	}
}

/* xs */
@media only screen and (max-width: 599px) {
	#whatsapp-btn {
		display: block;
	}
	#contactanos-btn {
		display: none;
	}
}

@media screen and (max-width: 579px) {
	#rieggo-header h1 {
		font-size: 2.2rem;
	}

	#rieggo-header {
		background: url(/resources/images/ROT1186Mej_Mx_rieggo_banner-header-B-sm.jpg) no-repeat;
		background-size: cover;
		background-position: center;
	}
}